.App {
  text-align: center;
}
.landpage-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.left-container{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.wrap-container{
  width: 70%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.land-image-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left-container>.image-container>img{
  width: 100%;
  height: 100%;
}
.right-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.helvetica-font{
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.brand-name{
  font-size: xx-large;
  font-weight: bolder;
  color: #006238;
  line-height: 80px;
  letter-spacing:0.2px;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

.btn-container{
  border: 2px solid #006238;
  width: 80px;
  padding: 10px;
  font-size:20px;
  color: #006238;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FFFFFF;
}
.link-container{
  text-decoration: none;
}


.desc-input::placeholder,.space-between-children::placeholder
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #707070;
}
.dir-text,.space-between-children
,.desc-input{
  outline: none;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




.nav-bar,.Card-top-bar,.emoji-logo-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wraping-nav{
  width: 80%;
  margin: auto;
  height: 100%;
}
.nav-bar{
  position:fixed;
  top: 0;
  left: 0;
  background-color:#FFFFFF;
  width: 100%;
  border-top:1px solid #006238;
  border-bottom:1px solid #006238;
}
.nav-position{
  position: relative;
}
.Card-top-bar{
  height:16%;
}
.nav-left,.likes{
  display: flex;
  align-items: center;
  flex-direction: row;
  float: left;
  /* height: 70px; */
  /* padding: 30px; */
  box-sizing: border-box;
}
.heart-css{
  cursor: pointer;
}
.nav-left{
  color: #006238;
  width: 50%;
  height: 100%;
}
.svg{
  width:50%;
  height: 100%;
}
.logo{
  width: 15%;
  /* background-color: #006238; */
  height: 100%;
}
.logo-wrapper{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  /* background-color: aqua; */
  height: 50%;
}
.emoji-logo-container,.likes{
  height: 8%;
}
.likes{
  height:5%;
  padding: 0%;
  padding-left: 10px;
}
.nav-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  padding: 30px;
  /* background-color: #006238; */
  box-sizing: border-box;

}
.nav-right > img{
  width: 8%;
}
.logo,.nav-right{
  font-size: xx-large;
}  
.description{
  height: 15%;
}
.blur-text{
  color: #707070;
  padding: 0%;
  margin: 0%;
  text-align: left;
}
.Card-container,.top-left{
  display: flex;
  flex-direction: column;
}
.top-left{
  font-size: medium;
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text{
  padding: 0%;
  margin: 0%;
  color:#000000;
  text-align: left;
}
.para{
  font-weight: bolder;
}
.Card-container{
  width: 330px;
  height: 400px;
  margin:50px auto;
  border: 1px solid rgb(124, 104, 104);
  box-sizing: border-box;
  border-radius: 5px;
}
.series-dot-button-container,.heart-comment-container{
  display: flex;
  flex-direction: row;
}
.heart-comment-container{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottom-logo,.date{
  width: 50px;
  height: 100%;
}
.date{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.heart{
  height: 100%;
  width:50% ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-image{
  width: 100%;
  height: 100%;
}
.heart-wrapper{
  width: 40%;
  margin: 0px;
  float: left;
  height:60%;
}
.bottom-logo{
   height: 100%;
  display: flex;
  align-items: center;
}



.series-dot-button-container{
  height: 100%;
  align-items: center;
  margin-right: 5px;
}

.series-btn-child{
  width: 6px;
  height: 6px;
  border-radius:50%;
  margin-right: 4px;
  background-color: #707070;
}

.image-container{
  width: 100%;
  height: 60%;
  box-sizing: border-box;
}

.image-container img{
  width: 100%;
  height: 100%;
}
.form-container{
  width: 500px;
  margin:10px auto;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-file{
   z-index: -15;
   color: white;
   background-color: white;
   visibility:hidden;
   display: none;
  }
  .uploading-text{
    color: green;
  }
.btn-browse{
  width:30%;
  box-sizing: border-box;
  border: 1px solid #707070;
  cursor: pointer;
}
.label{
  display: block;
  width: 100%;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;

}
.btn-browse >.hidden-file{
  width: 100%;
}
.inside-form{
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  padding-top: 6%;
}
.uploader-message{
  height: 120px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-post{
  width:80px;
  height: 30px;
  color: white;
  border: none;
  background-color:#347DFD;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
.desc-input{
  width: 100%;
  box-sizing: border-box;
}

.file-component-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.file-component-container,.space-between-container,.desc-container
{
  margin-bottom: 5%;
}
.dir-text{
  width: 70%;
}
.space-between-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.space-between-children{
  width: 30%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
